.game-controls {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;

  .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
