<div class="modal-header">
  <h4 class="modal-title text-center">Game over</h4>
  <button
    type="button"
    class="btn-close close pull-right"
    aria-label="Close"
    (click)="hide()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>

<div class="modal-body">
  <p class="text-center">You have {{ isUserSucceed ? 'won' : 'lost' }} with the score:</p>
  <app-score
    [class.score--success]="isUserSucceed"
    [succeedCount]="succeedCount"
    [failedCount]="failedCount"></app-score>
</div>
