@import 'variables';

body {
  background-color: $base-bg-color;
}

.modal-body {
  .score {
    &--success {
      .score__result {
        color: $success-color;
      }
    }

    &__result {
      color: $failed-color;
    }
  }
}

.modal-title {
  width: 100%;
  margin-left: 15px;
}
